@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Shrikhand', cursive;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3 {
  margin: 1em 0;
}

section {
  padding: 1em 5%;
}

header {
  padding: 1em 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  display: inline-block;
}

header a i {
  color: #353535;
  position: absolute;
  left: 5%;
  top: 1.6em;
}

.r-card {
  width: 100%;
  height: 251px;
  background-color: #fff;
  margin-bottom: 1.3em;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
}

.r-card .r-card-illus {
  position: relative;
}

.r-card .r-card-illus .r-card--img {
  width: 100%;
  height: 174px;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.r-card .r-card-illus .text-block {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 400;
  padding: 0.5em 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.2em;
}

.r-card .r-card-caption {
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r-card .r-card-caption h3 {
  margin: 0.3em 0;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 1em 5%;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
}

.btn-gradient {
  z-index: -2;
  font-family: 'Roboto';
  font-size: 1.2em;
  border: none;
  border-radius: 2em;
  padding: 1em;
  margin: 2em 0;
  font-family: 'Roboto';
  font-size: 1.2em;
  background: linear-gradient(340deg, #9356dc 0%, #ff79da 100%);
  color: #fff;
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.btn-gradient:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: -4px 4px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

.fa-heart {
  position: relative;
  z-index: 1;
}

.fa-heart:hover::after {
  opacity: 1;
}

.fa-heart::after {
  content: "\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  opacity: 0;
  -webkit-transition: opacity 300ms 75ms;
  transition: opacity 300ms 75ms;
}

.loader--container {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  opacity: 1;
}

.loader--container .loader {
  opacity: 0.8;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-bottom: 16px solid #99E2D0;
  border-left: 16px solid #f6f6f6;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  -webkit-animation: spin 3s forwards;
          animation: spin 3s forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.localisation {
  padding: 0.5em 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0px 4px 4px -3px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px -3px rgba(0, 0, 0, 0.25);
  background-color: #e9e9e9;
  color: #353535;
}

.localisation h2 {
  font-weight: 400;
  font-size: 1em;
  margin: 0.5em 0;
}

.presentation {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation h1, .presentation p {
  text-align: center;
}

.presentation h1 {
  color: #000;
}

.presentation p {
  color: #353535;
}

.fonctionnement .etapes-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement .etapes-wrapper .etape {
  width: 100%;
  margin-left: -1em;
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement .etapes-wrapper .etape .num {
  position: relative;
  left: 1em;
}

.fonctionnement .etapes-wrapper .etape .num .fa-circle {
  color: #9356DC;
}

.fonctionnement .etapes-wrapper .etape p {
  text-align: left;
  width: 100%;
  padding: 1em;
  background-color: #f6f6f6;
  color: #000;
  border-radius: 1em;
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
}

.fonctionnement .etapes-wrapper .etape p i {
  color: #353535;
  margin: 0.5em 1em;
}

.fonctionnement .etapes-wrapper .etape p:hover {
  background-color: #e4d5f6;
}

.fonctionnement .etapes-wrapper .etape p:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
}

.menu-cover {
  width: 100%;
  height: 374px;
  z-index: 0;
}

.menu-cover img {
  width: 100%;
  height: 374px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-menu-wrapper {
  z-index: 1;
  position: relative;
  margin-top: -3em;
  background-color: #f6f6f6;
  border-radius: 2em 2em 0 0;
  padding: 0.3em 5%;
}

.main-menu-wrapper .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu-wrapper .btn-wrapper button {
  margin: 2em 0;
  padding: 0.7em 2.5em;
}

.title-wrapper {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.title-wrapper h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.3em;
  margin: 0;
  padding: 0.5em 0;
}

.title-wrapper i {
  font-size: 1.3em;
  padding: 0 0.5em;
}

.title-wrapper i::after {
  padding: 0 0.5em;
}

.main-menu-wrapper h2 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1em;
  position: relative;
}

.main-menu-wrapper h2::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.5em;
  padding-top: 1em;
  width: 2.5em;
  border-bottom: thick solid #99E2D0;
}

.menu-wrapper {
  -webkit-animation: plate-slide 3000ms ease-in;
          animation: plate-slide 3000ms ease-in;
}

.m-card {
  cursor: pointer;
  background-color: #fff;
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.m-card .m-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  width: 100%;
  -webkit-transition: width 5s;
  transition: width 5s;
}

.m-card .m-content .m-text {
  padding: 1em 0.5em;
  white-space: nowrap;
  overflow: hidden;
}

.m-card .m-content .m-text h3, .m-card .m-content .m-text p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-card .m-content .m-price {
  padding: 1em 0.5em;
}

.m-card .m-content .m-price p {
  margin: 0;
  font-weight: 600;
}

.m-card .m-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 1em 1em 0;
  background-color: #99E2D0;
  height: 73px;
  width: 0%;
  opacity: 0;
  -webkit-transition: width 5s, opacity 1s;
  transition: width 5s, opacity 1s;
}

.m-card .m-icon i {
  color: #fff;
  width: 0em;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.m-card:hover .m-content {
  width: 80%;
}

.m-card:hover .m-icon {
  opacity: 1;
  width: 20%;
}

.m-card:hover .m-icon i {
  opacity: 1;
  width: 1em;
}

@-webkit-keyframes plate-slide {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes plate-slide {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 688px) {
  .fonctionnement .etapes-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fonctionnement .etapes-wrapper .etape {
    width: 48%;
  }
  .resto-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .resto-wrapper a {
    width: 49%;
    margin-bottom: 2%;
  }
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-wrapper .menu-wrapper {
    width: 32%;
  }
}

@media (min-width: 992px) {
  .fonctionnement .etapes-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fonctionnement .etapes-wrapper .etape {
    width: 32%;
  }
  .resto-wrapper a {
    width: 24%;
  }
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-wrapper .menu-wrapper {
    width: 32%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1312px) {
  body {
    width: 1312px;
    margin: 0 auto;
  }
  .localisation {
    border-radius: 2em 2em 0 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .presentation {
    border-radius: 0 0 2em 2em;
  }
  .restaurants {
    border-radius: 2em;
    margin-bottom: 2em;
  }
  .menu-cover {
    border-radius: 2em;
    margin: 2em 0;
  }
  .menu-cover img {
    border-radius: 2em;
  }
  .main-menu-wrapper {
    border-radius: 2em;
    margin: 2em 0;
    z-index: 0;
    position: relative;
    top: auto;
  }
  footer {
    border-radius: 2em;
  }
}
/*# sourceMappingURL=style.css.map */