header {
    padding: $padding-centre;
    display: flex;
    justify-content: center;
    .header-resto {
        display: flex;
        align-items: baseline;
        i {
            color: $color-dark;
        }
    }
}
