.btn-gradient {
    font-family: 'Roboto';
    font-size: 1.2em;
    border: none;
    border-radius: 2em;
    padding: 0.5em 2em;
    font-family: 'Roboto';
    font-size: 1.2em;
    background: $color-btn-gradient;
    color: $color-clear;
}