.btn-gradient {
    font-family: 'Roboto';
    font-size: 1.2em;
    border: none;
    border-radius: 2em;
    padding: 1em;
    margin: 2em 0;
    font-family: 'Roboto';
    font-size: 1.2em;
    background: $color-btn-gradient;
    color: $color-clear;
    box-shadow: $shadow-primary;
    &:hover {
        background-color: lighten($color-btn-gradient, 30%);
    }
}